.box {
  width: 25%;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 50px;
}

[class^="pixel"] {
  content: "";
  position: relative;
}

.pixel-1 {
  padding-bottom: 100%;
}

.pixel-2 {
  padding-bottom: calc(100% / 2);
}

.pixel-3 {
  padding-bottom: calc(100% / 3);
}

.pixel-4 {
  padding-bottom: calc(100% / 4);
}

.pixel-5 {
  padding-bottom: calc(100% / 5);
}

.pixel-6 {
  padding-bottom: calc(100% / 6);
}

.pixel-7 {
  padding-bottom: calc(100% / 7);
}

.pixel-8 {
  padding-bottom: calc(100% / 8);
}

.pixel-9 {
  padding-bottom: calc(100% / 9);
}

.pixel-11 {
  padding-bottom: calc(100% / 11);
}

.pixel-12 {
  padding-bottom: calc(100% / 12);
}

.pixel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bordered {
  border-bottom: 4px solid green;
}

.red {
  background-color: red;
}

.brown {
  background-color: rgb(73, 46, 46);
}

.skin {
  background-color: #e2c598;
}

.black {
  background-color: black;
}

.blue {
  background-color: steelblue;
}

.gold {
  background-color: gold;
}

.green {
  background-color: green;
}

.gray {
  background-color: slategray;
}

.darkgray {
  background-color: #333;
}
